<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <strong>Projet Memoire</strong>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Sujet du memoire</label>
                    <div class="col-md-9">
                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                    </div>
                    <div> 
                        <br><br><br> 
                    </div>
                    <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
                    <div class="col-md-9">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Content.."></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
</div>