<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <strong>Projet Memoire</strong>
        </div>
        <div class="card-body">
            <form [formGroup]='EtudiantForm' (ngSubmit)= 'onSubmit()' >

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="sujet">Sujet du memoire</label>
                    <div class="col-md-9">
                        <input type="text" id="sujet" class="form-control" placeholder="">
                    </div>
                    <div> 
                        <br><br><br> 
                    </div>
                    <label class="col-md-3 col-form-label" for="description">Description</label>
                    <div class="col-md-9">
                        <textarea rows="9" class="form-control" id="description"
                            placeholder=""></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary px-4"> Envoyer </button>
        </div>
    </div>
</div>