
  <div class="card">
    <div class="card-header">
      <strong>SCIENCES APPLIQUEES</strong>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 MATHS'}" >L3-MATHS</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 PC'}">L3-PC</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 PN'}">L3-PN</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 CA'}">L3-CA</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 SID'}" >L3-SID</a></button>
          </div>
      </div>
     
      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MIER'}">M2-MIER</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MATHS PROBA'}">M2-MATHS PROBA</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MATHS ANALYSE'}">M2-MATHS ANALYSE</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 CHIMIE INORGA'}">M2-CHIMIE INORGA</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 CHIMIE PHYSIQUE'}">M2-CHIMIE PHYSIQUE</a></button>
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <strong>TECHNOLOGIE DE L'INFORMATION ET DE LA COMMUNICATION</strong>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 D2A'}">L3-D2A</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 SRT'}">L3-SRT</a></button>
          </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 SI'}">M2-SI</a></button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-pill btn-block btn-outline-primary" aria-pressed="true"><a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 SR'}">M2-SR</a></button>
          </div>     
      </div>    
    </div>
  </div>