
  <div class="card">
    <div class="card-header">
      <strong>SCIENCES APPLIQUEES</strong>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 MATHS'}" ><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-MATHS</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 PC'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-PC</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 PN'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-PN</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 CA'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-CA</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 SID'}" ><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-SID</button></a>
          </div>
      </div>
     
      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MIER'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-MIER</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MATHS PROBA'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-MATHS PROBA</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 MATHS ANALYSE'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-MATHS ANALYSE</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 CHIMIE INORGA'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-CHIMIE INORGA</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 CHIMIE PHYSIQUE'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-CHIMIE PHYSIQUE</button></a>
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <strong>TECHNOLOGIE DE L'INFORMATION ET DE LA COMMUNICATION</strong>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 D2A'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-D2A</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'L3 SRT'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">L3-SRT</button></a>
          </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 SI'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-SI</button></a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/resp-form/liste-etudiants" [queryParams]="{classe : 'M2 SR'}"><button type="button" class="btn btn-pill btn-block btn-outline-primary">M2-SR</button></a>
          </div>     
      </div>    
    </div>
  </div>