<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]='RegisterForm' (ngSubmit)= 'onSubmit()'>
                <div align='center'>
                  <h1>Inscription</h1>
                  <div style="display: block; margin-left: auto; margin-right: auto; width: 70%;">
                    <img src="assets/img/avatars/Archivage.png" alt="logo uadb" height="70">
                  </div>
                </div>
                <p align='center' class="text-muted">Créez votre compte</p>
               
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-note"></i></span>
                  </div>
                  <input type="text" formControlName="nom" class="form-control" placeholder="Nom" autocomplete="nom" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-note"></i></span>
                  </div>
                  <input type="text" formControlName="prenom" class="form-control" placeholder="Prenoms" autocomplete="prenom" required>
                </div><div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                  </div>
                  <input type="datetime" formControlName="dateNaissance" class="form-control" placeholder="Date de naisance ( Année -Mois- Jour )" autocomplete="dateNaissance" required>
                </div>
            
                <div class="form-group row">
                  <div class="col-md-9">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-graduation"></i></span>
                      <select id="select1" formControlName="classe" class="form-control">
                        <option value="">-- Choisissez une classe --</option>
                        <option value="L3 D2A">L3 D2A</option>
                        <option value="L3 SRT">L3 SRT</option>
                        <option value="L3 MATHS">L3 MATHS</option>
                        <option value="L3 PC">L3 PC</option>
                        <option value="L3 PN">L3 PN</option>
                        <option value="M2 MIER">M2 MIER</option>
                        <option value="M2 MATHS PROBA">M2 MATHS PROBA</option>
                        <option value="M2 MATHS ANALYSE">M2 MATHS ANALYSE</option>
                        <option value="M2 SID">M2 SID</option>
                        <option value="M2 CHIMIE INORGA">M2 CHIMIE INORGA</option>
                        <option value="M2 CHIMIE PHYSIQUE">M2 CHIMIE PHYSIQUE</option>
                        <option value="M2 SI">M2 SI</option>
                        <option value="M2 SR">M2 SR</option>

                      </select>
                    </div>
                   
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="number" formControlName="numTel" class="form-control" placeholder="Tel" autocomplete="numTel" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName="login" class="form-control" placeholder="Login" autocomplete="login" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" autocomplete="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" formControlName="password" class="form-control" placeholder="Mot de pass" autocomplete="new-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeter le mot de pass" autocomplete="new-password" required>
                </div>
                <button type="submit" class="btn btn-block btn-success">Créer Compte</button>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
