<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des Etudiants {{classe}}
        </div>
        
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-prepend">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </span>
            <input type="text" id="input1-group2" name="input1-group2" [(ngModel)]="searchText" class="form-control" placeholder="Recherche rapide ...">
          </div>
            </div></div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr >
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Tel</th>
                <th>Date de Naissance</th>
                <th>classe</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let etudiant of allEtudiants | orderBy:'nom' | filter:searchText" >
              
              <tr *ngIf="etudiant.classe===classe ">
                <td>{{etudiant.nom}}</td>
                <td>{{etudiant.prenom}}</td>
                <td>{{etudiant.numTel}}</td>
                <td>{{etudiant.dateNaissance | date:'dd/MM/yyyy' }}</td>
                <td>{{etudiant.classe}}</td>
                <td><a routerLink="/resp-form/ajout-rapporteur" [queryParams]="{idEtudiant : etudiant._id}">Ajouter rapporteurs</a></td>
              </tr>
              
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
